<%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>

<div class="container well signin-form">
	<h3>	Member Info </h3>
	<br>
	  	<div class='row'>
			  <div class="col-md-2">
			  		<%= label_tag :first_name, 'First Name', :class => '' %>
					<%= text_field_tag :first_name, nil, :class =>'form-control', :placeholder => 'Enter text' %>
			  </div>
			  <div class="col-md-2">
					<%= label_tag :last_name, 'Last Name', :class => '' %>
					<%= text_field_tag :last_name, nil, :class =>'form-control', :placeholder => 'Enter text' %>
			  </div>

			  <div class="col-md-2">
					<%= label_tag :dob, 'DOB', :class => 'control-label' %>
					<%= text_field_tag :dob, nil, :class =>'form-control', :placeholder => 'Enter text' %>
			  </div>

			  <div class="col-md-2">
					<%= label_tag :ins_id, 'Ins ID', :class => 'control-label' %>
					<%= text_field_tag :ins_id, nil, :class =>'form-control', :placeholder => 'Enter text' %>
			  </div>

			  <div class="col-md-2">
					<%= label_tag :group_no, 'Group no', :class => 'control-label' %>
					<%= text_field_tag :group_no, nil, :class =>'form-control', :placeholder => 'Enter text' %>
			  </div>
		</div>
		<h3>	Provider Info </h3>
		<br>
		<div class='row'>
			  <div class="col-md-2">
			  		<%= label_tag :p_first_name, 'First Name', :class => '' %>
					<%= text_field_tag :p_first_name, nil, :class =>'form-control', :placeholder => 'Enter text' %>
			  </div>
			  <div class="col-md-2">
					<%= label_tag :p_last_name, 'Last Name', :class => '' %>
					<%= text_field_tag :p_last_name, nil, :class =>'form-control', :placeholder => 'Enter text' %>
			  </div>

			  <div class="col-md-2">
					<%= label_tag :p_npi, 'NPI', :class => 'control-label' %>
					<%= text_field_tag :p_npi, nil, :class =>'form-control', :placeholder => 'Enter text' %>
			  </div>
		</div>

	</div>
	
<div class="container well">

			<h4>Patients Detail</h4>
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>API name</th>
			      <th>Payer ID</th>
			      <th>Service Type</th>
			      <th>Procedure Code</th>
			      <th></th>
			      
			    </tr>
			  </thead>

			  <tbody>

			      <tr>

			        <td>Pokitdock Api</td>
			        <td><%= text_field_tag :payer_id, nil %></td>
			        <td><%= text_field_tag :service_type, nil %></td>
			        <td></td>
			        <td>
             		 	<%= form_tag apis_eligibility_patients_path, {:class => 'patient_pokit_form'} do %>
          					<%= hidden_field_tag :first_name,  "asd" %>
             		 		<%= hidden_field_tag :last_name, "asd" %>
             		 		<%= hidden_field_tag :dob, "asd" %>
             		 		<%= hidden_field_tag :ins_id, "asd" %>
             		 		<%= hidden_field_tag :group_no, "asd" %>
             		 		<%= hidden_field_tag :group_no, "asd" %>
             		 		<%= hidden_field_tag :group_no, "asd" %>
             		 		<%= hidden_field_tag :payer_id, "asd" %>
             		 		<%= hidden_field_tag :service_type, "asd" %>

             		 		<%= hidden_field_tag :type, "pokitdok" %>
             		 		
          					<%= submit_tag "Check", class: "btn btn-block btn-small btn-success" %>
         				<% end %>
			      	</td>
			      </tr>
			      <tr>

			        <td>Eligibility Api</td>
			        <td><%= text_field_tag :eligi_payer_id, nil %></td>
			        <td>
			        	<%= select_tag :eligi_service_type, options_for_select(@service_types) %>
			        	<%= select_tag :eligi_service_type, options_for_select(@service_types) %>
			        	<%= select_tag :eligi_service_type, options_for_select(@service_types) %>
			        	<%= select_tag :eligi_service_type, options_for_select(@service_types) %>
			        </td>
			        <td>
			        	<%= select_tag :eligi_procedure_code, options_for_select(@procedure_codes) %>
			        	<%= select_tag :eligi_procedure_code, options_for_select(@procedure_codes) %>
			        	<%= select_tag :eligi_procedure_code, options_for_select(@procedure_codes) %>
			        	<%= select_tag :eligi_procedure_code, options_for_select(@procedure_codes) %>
			        	<%= select_tag :eligi_procedure_code, options_for_select(@procedure_codes) %>
			        </td>

			        <td>
             		 	<%= form_tag apis_eligibility_patients_path, {:class => 'patient_eligi_form'} do %>
          					<%= hidden_field_tag :first_name,  "asd" %>
             		 		<%= hidden_field_tag :last_name, "asd" %>
             		 		<%= hidden_field_tag :dob, "asd" %>
             		 		<%= hidden_field_tag :ins_id, "asd" %>
             		 		<%= hidden_field_tag :group_no, "asd" %>
             		 		<%= hidden_field_tag :group_no, "asd" %>
             		 		<%= hidden_field_tag :group_no, "asd" %>
             		 		<%= hidden_field_tag :payer_id, "asd" %>
             		 		<%= hidden_field_tag :service_type, "asd" %>
             		 		<%= hidden_field_tag :service_type, "asd" %>
             		 		<%= hidden_field_tag :procedure_code, "asd" %>


             		 		<%= hidden_field_tag :p_first_name,  "asd" %>
             		 		<%= hidden_field_tag :p_last_name, "asd" %>
             		 		<%= hidden_field_tag :p_npi, "asd" %>

             		 		<%= hidden_field_tag :type, "eligibility" %>
             		 		
          					<%= submit_tag "Check", class: "btn btn-block btn-small btn-success" %>
         				<% end %>
			      	</td>
			      </tr>
			      <tr>

			        <td>Availity Api</td>
			        <td><%= text_field_tag :avi_payer_id, nil %></td>
			        <td><%= text_field_tag :avi_service_type, nil %></td>
			        <td></td>
			        <td>
             		 	<%= form_tag apis_eligibility_patients_path, {:class => 'patient_avi_form'} do %>
          					<%= hidden_field_tag :first_name,  "asd" %>
             		 		<%= hidden_field_tag :last_name, "asd" %>
             		 		<%= hidden_field_tag :dob, "asd" %>
             		 		<%= hidden_field_tag :ins_id, "asd" %>
             		 		<%= hidden_field_tag :group_no, "asd" %>
             		 		<%= hidden_field_tag :group_no, "asd" %>
             		 		<%= hidden_field_tag :group_no, "asd" %>
             		 		<%= hidden_field_tag :payer_id, "asd" %>
             		 		<%= hidden_field_tag :service_type, "asd" %>
             		 		<%= hidden_field_tag :customer_id, "388016" %>
             		 		<%= hidden_field_tag :site_url, "https://apps.availity.com/" %>

             		 		<%= hidden_field_tag :p_first_name,  "asd" %>
             		 		<%= hidden_field_tag :p_last_name, "asd" %>
             		 		<%= hidden_field_tag :p_npi, "asd" %>

             		 		<%= hidden_field_tag :type, "availity" %>
             		 		
          					<%= submit_tag "Check", class: "btn btn-block btn-small btn-success" %>
         				<% end %>
			      	</td>
			      </tr>
			  </tbody>
			</table>
			</div>
			<br>
			<br><br>
</div>
<script type="text/javascript">


	$(document).ready(function(){
		
		$( ".patient_pokit_form" ).submit(function( event ) {
  		event.preventDefault();
  		console.log($(this).children('#first_name').val())
  		$(this).children('#first_name').val($('#first_name').val().trim())
  		$(this).children('#last_name').val($('#last_name').val().trim())
  		$(this).children('#dob').val($('#dob').val().trim())
  		$(this).children('#ins_id').val($('#ins_id').val().trim())
  		$(this).children('#group_no').val($('#group_no').val().trim())
  		$(this).children('#payer_id').val($('#payer_id').val().trim())
  		$(this).children('#service_type').val($('#service_type').val().trim())

			this.submit()
		});

		$( ".patient_avi_form" ).submit(function( event ) {
  		event.preventDefault();
  		console.log($(this).children('#first_name').val())
  		$(this).children('#first_name').val($('#first_name').val().trim())
  		$(this).children('#last_name').val($('#last_name').val().trim())
  		$(this).children('#dob').val($('#dob').val().trim())
  		$(this).children('#ins_id').val($('#ins_id').val().trim())
  		$(this).children('#group_no').val($('#group_no').val().trim())
  		$(this).children('#payer_id').val($('#avi_payer_id').val().trim())
  		$(this).children('#service_type').val($('#avi_service_type').val().trim())
  		$(this).children('#p_first_name').val($('#p_first_name').val().trim())
  		$(this).children('#p_last_name').val($('#p_last_name').val().trim())
  		$(this).children('#p_npi').val($('#p_npi').val().trim())

			this.submit()
		});

		$( ".patient_eligi_form" ).submit(function( event ) {
  		event.preventDefault();
  		
  		var st_values = []
  		$('select[name="eligi_service_type"]').each(function(e,v){
  			if(v.value != ''){
  				st_values.push(v.value)
  			}
  		})

  		var p_values = []
  		$('select[name="eligi_procedure_code"]').each(function(e,v){
  			if(v.value != ''){
  				p_values.push(v.value)
  			}
  		})

  		console.log($(this).children('#first_name').val())
  		$(this).children('#first_name').val($('#first_name').val().trim())
  		$(this).children('#last_name').val($('#last_name').val().trim())
  		$(this).children('#dob').val($('#dob').val().trim())
  		$(this).children('#ins_id').val($('#ins_id').val().trim())
  		$(this).children('#group_no').val($('#group_no').val().trim())
  		$(this).children('#payer_id').val($('#eligi_payer_id').val().trim())
  		$(this).children('#service_type').val(st_values)
  		$(this).children('#procedure_code').val(p_values)

  		$(this).children('#p_first_name').val($('#p_first_name').val().trim())
  		$(this).children('#p_last_name').val($('#p_last_name').val().trim())
  		$(this).children('#p_npi').val($('#p_npi').val().trim())

			this.submit()
		});
	})
</script>
