<%= stylesheet_link_tag "custom.css" %>
<%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>

<div class="container well signin-form">
	<span class="pull-right">
		<%= link_to 'Visit Status Page', statuses_path  ,class: "text-danger"%>
	</span>
	<h3>	Sign In</h3>
	<br>
	<%= form_for User.new ,:html => { :class => 'form-inline signin' } do |f| %>
	  <div class="form-group">
	  		<%= label_tag :username, 'Username', :class => 'control-label' %>
			<%= f.text_field :username, :class =>'form-control', :placeholder => 'Credentials not saved' %>
	  </div>
	  <div class="form-group">
			<%= label_tag :password, 'Password', :class => 'control-label' %>
			<%= f.password_field :password, :class =>'form-control', :placeholder => 'Credentials not saved' %>
	  </div>

	  <div class="form-group">
			<%= label_tag "Website to Scrap data", "Website to Scrap data", :class=> 'control-label' %>
			<%= f.select :site_to_scrap, options_for_site,{} , {:class=> 'form-control'} %>
	  </div>
		<%= submit_tag "", :value => "► check & save credentials", :class => "btn btn-sm btn-primary", id: 'submit-button' %>
  <br>
	<% end %>
	</div>
	<div class="row">
		<div class="col-md-3">

		</div>
		<div class="well col-md-6 signup-form">
		<h4>Import Patients</h4>
		<br>
		<%= form_tag import_users_path, multipart: true do %>
				<%= file_field_tag :file %><br />
				<%= submit_tag "Import Patients" ,:class => "btn btn-danger"%>
		<% end %>
		</div>

	</div>
<%if !@users.first.nil? %>
<div class="container well">

			<h4>Patients Detail</h4>
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>First name</th>
			      <th>Last name</th>
			      <th>Patient</th>
			      <th>Date of birth</th>
			      <th colspan="3">    <%= link_to 'Delete All', delete_all_users_path, data: { confirm: 'Are you sure?' }  ,class: "btn btn-xs btn-danger"%></th>
			    </tr>
			  </thead>

			  <tbody>

			    <% @users.each do |user,index| %>
			      <tr>

			        <!-- <td><%= index %></td> -->
			        <td><%= user.first_name %></td>
			        <td><%= user.last_name %></td>
			        <td><%= user.patient_id %></td>
			        <td><%= user.dob %></td>

			          <% if user.record_available=='complete'%>
			           <td>
			            <%= form_for(user) do %>
			          					<%= submit_tag "View", class: "btn btn-block btn-small btn-success" %>
			         				 <% end %>
			             <%elsif user.record_available=='pending'%>
			             <td>
			          					<%= button_tag "Pending..", class: "btn btn-block btn-small btn-info" %>

			             <%elsif user.record_available=='failed' %>
			             <td>
			             		 <%= form_for user, :html => { :class => 'patient_form' } do |f| %>
			          					<%= f.hidden_field :username, value: "asd" %>
			             		 		<%= f.hidden_field :password, value: "asd" %>
			             		 		<%= f.hidden_field :site_to_scrap, value: "asd" %>
			          					<%= submit_tag "Re-Check", class: "btn btn-block btn-small btn-danger" %>
			         				 <% end %>

			             <%else%>
			             <td>
			             		 <%= form_for user, :html => { :class => 'patient_form' } do |f| %>
			             		 		<%= f.hidden_field :username, value: "asd" %>
			             		 		<%= f.hidden_field :password, value: "asd" %>
			             		 		<%= f.hidden_field :site_to_scrap, value: "asd" %>
			          					<%= submit_tag "Check", class: "btn btn-block btn-small btn-warning" %>
			         				 <% end %>
 			           <%end %>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			</div>
			<br>
			<br><br>
</div>
<%end%>
<script type="text/javascript">


	function fillup_signin_fields(){
		selected_val = $('#user_site_to_scrap option:selected').val()

		if(session_arr[selected_val]) {
			$('#user_username').val(session_arr[selected_val]['username'])
			$('#user_password').val(session_arr[selected_val]['password'])
		}
		else {
			$('#user_username').val("")
			$('#user_password').val("")
		}
	}


	$(document).ready(function(){
		session_arr = <%= raw(session.to_json) %>

		setTimeout(function() { fillup_signin_fields(); }, 300);

		$('#user_site_to_scrap').on('change', function(){
			fillup_signin_fields()
		})

		$( ".patient_form" ).submit(function( event ) {
  		event.preventDefault();
  		$(this).children('#user_username').val($('#user_username').val().trim())
  		$(this).children('#user_password').val($('#user_password').val().trim())
  		$(this).children('#user_site_to_scrap').val($('#user_site_to_scrap option:selected').val().trim())
			this.submit()
		});
	})
</script>
