<%= stylesheet_link_tag "custom.css" %>
<%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>




<div class="container well">
	<div class="">
  <h4>Import Patients</h4>
  <br>
  <%= form_tag import_users_path, multipart: true do %>
      <%= file_field_tag :file %><br />
      <%= submit_tag "Import" ,:class => "btn btn-danger"%>
  <% end %>
</div>
<hr>
	<h3 style="text-align: center;">
	Sign In</h3>
	<%= form_for User.new ,:html => { :class => 'form-horizontal signin' } do |f| %>
	  <div class="form-group">
	  	<%= f.label :username, :class => 'control-label' %>
			<%= f.text_field :username, value: (session[:username] if session[:username].present?), :class =>'form-control' %>
	  </div>
	  <div class="form-group">
			<%= f.label :password, :class => 'control-label' %>
			<%= f.password_field :password, value: (session[:password] if session[:password].present?), :class =>'form-control' %>
	  </div>

	  <div class="form-group">
			<%= f.label "Select the Website to Scrap data", :class=> 'control-label' %>
			<%= f.select :site_to_scrap, options_for_site,{} , {:class=> 'form-control'} %>
	  </div>
		<%= submit_tag "", :value => "► check & save credentials", :class => "pull-right btn btn-lg btn-primary", id: 'submit-button' %>
					
  <br>


	<% end %>


			<%if @users %>
			<h4>Patients Detail</h4>
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>First name</th>
			      <th>Last name</th>
			      <th>Patient</th>
			      <th>Date of birth</th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>

			  <tbody>

			    <% @users.each do |user,index| %>
			      <tr>

			        <!-- <td><%= index %></td> -->
			        <td><%= user.first_name %></td>
			        <td><%= user.last_name %></td>
			        <td><%= user.patient_id %></td>
			        <td><%= user.dob %></td>
			        <!-- <td><%= form_for(user) do %>
			          <%= submit_tag "Check", class: "btn btn-small btn-warning" %>
			          <% end %></td> -->
			          <% if user.record_available=='complete'%>
			           <td>
			           <!-- <span class="glyphicon glyphicon-ok text-success"></span> -->
			            <%= form_for(user) do %>
			          					<%= submit_tag "View", class: "btn btn-block btn-small btn-success" %>
			         				 <% end %>
			         				 <!--  <%= link_to 'View', user_path(user.id), class: "btn btn-small btn-success" %></td> -->
			             <%elsif user.record_available=='pending'%>
			             <td>
			          					<%= button_tag "Pending..", class: "btn btn-block btn-small btn-info" %>

			             <%elsif user.record_available=='failed' %>
			             <td>
			             		 <%= form_for user, :html => { :class => 'patient_form' } do |f| %>
			          					<%= f.hidden_field :username, value: "asd" %>
			             		 		<%= f.hidden_field :password, value: "asd" %>
			          					<%= submit_tag "Re-Check", class: "btn btn-block btn-small btn-danger" %>
			         				 <% end %>

			             <%else%>
			             <td>
			             		 <%= form_for user, :html => { :class => 'patient_form' } do |f| %>
			             		 		<%= f.hidden_field :username, value: "asd" %>
			             		 		<%= f.hidden_field :password, value: "asd" %>
			          					<%= submit_tag "Check", class: "btn btn-block btn-small btn-warning" %>
			         				 <% end %>
<!-- 			             <span class="glyphicon glyphicon-remove text-danger"></span><%= link_to 'View', 'javascript:void(0)', class: "btn btn-small btn-success", disabled: true %></td>
 -->			           <%end %>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			</div>
			<br>
			<br><br>


			<%end%>

</div>
<script type="text/javascript">
	$(document).ready(function(){
		$( ".patient_form" ).submit(function( event ) {
  		event.preventDefault();
  		$(this).children('#user_username').val($('#user_username').val().trim())
  		$(this).children('#user_password').val($('#user_password').val().trim())
			this.submit()
		});
	})
</script>