<% if @status.site_url  != "all" %>

<br /><br /><br /><br />
<div class="row">
<div class="col-md-2">

</div>
<div class="col-md-8">


<div class="">

<p id="notice"><%= notice %></p>

<br ><br >
<p>
  <h3> Site Url: <%= @status.site_url %> </h3>
  <span class="pull-right">
    <%= link_to 'Change Credintials for test cases', edit_status_path , class: "btn btn-danger" %>
  </span>

  <span style="display:none" class="pull-right">

    <%= link_to 'Run Test Cases Again', edit_status_path, class: "btn btn-danger" %>
  </span>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Details of test
        </th>
        <th>

        </th>
        <th>
          Status
        </th>
        <th>
          Date &amp; Time
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <h5>Login Test</h5>
        <th>
        <td>
          <% if @status.login_status%>
            <span class="text-info">Login test is OK.</span>
          <% else %>
            <span class="text-danger">Login test failed.</span>
          <% end %>
        </td>
        <td>
          <%= @status.date_checked.to_s(:long) %>
        </td>
      </tr>
      <tr>
        <th>
          <h5>Patient Searchable Test</h5>
        <th>
        <td>
          <% if @status.patient_search_status%>
            <span class="text-info">Patient Searching test OK.</span>
          <% else %>
            <span class="text-danger">Patient Searching test is failed.</span>
          <% end %>
        </td>
        <td>
          <%= @status.date_checked.to_s(:long) %>
        </td>
      </tr>
      <tr>
        <th>
          <h5>Table parseing to JSON</h5>
        <th>
        <td>
          <% if @status.site_status%>
            <span class="text-info">Table parsing to JSON is OK.</span>
          <% else %>
            <span class="text-danger">Table parsing to JSON is failed. </span>
          <% end %>
        </td>
        <td>
          <%= @status.date_checked.to_s(:long) %>
        </td>
      </tr>
      <tr>
        <th>
          <h5>Excel file generation and mapping</h5>
        <th>
        <td>
          <% if @status.status%>
            <span class="text-info">Excel file generation and mapping is OK.</span>
          <% else %>
            <span class="text-danger">Excel file generation and mapping is failed. </span>
          <% end %>
        </td>
        <td>
          <%= @status.date_checked.to_s(:long) %>
        </td>
      </tr>
    </tbody>
  </table>


<%= link_to 'Back', statuses_path %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">

  </div>


  <div class="well col-md-6 signup-form">

    <span class="pull-right">
    <%= link_to 'Download CSV',  service_type_path(@status.id)+".csv" ,class: "text-danger"%>
    </span>

    <h4>Import Service type mapping</h4>
    <br>
    <%=   form_tag import_mapping_patients_path(@status.id), multipart: true do %>
        <%= file_field_tag :file %><br />
        <%= submit_tag "Import Service Type Mapping" ,:class => "btn btn-danger"%>
    <% end %>
  </div>
</div>
<% end %>
